<div class="container" style="text-align:center; margin:20% auto">        
    <form method="GET" action="./playlist">
        <input type="hidden" id='hidden_token'>
        <div class="col-sm-8 form-group row mt-4 px-0">
            <label for="Genre" class="form-label col-sm-2" style="padding-right:5px">Genre:</label>
            <select name="genre" id="select_genre" class="form-control form-control-sm col-sm-10">
                <% genres.forEach(genre => {%> 
                    <option value="<%= genre.id %>"><%= genre.name %> </option> 
                    <% console.log(genre)%> 
                    <% }); %>             
            </select>
        </div>             
        <div class="col-sm-6 row form-group px-0">
            <button type="submit" id="btn_submit" style="margin-left: 145px;" class="btn btn-success col-sm-12">Search</button>
        </div>          
    </form>        
    <div class="row">
        <div class="col-sm-6 px-0">
            <div class="list-group song-list">
                
            </div>                                             
        </div>
        <div class="offset-md-1 col-sm-4" id="song-detail">                
        </div>
    </div>   
</div>