<div style="text-align:center; margin:20%">
    <h1>Do You Need New Music?</h1>
    <div class="home-btn">
        <button type="button"class="btn btn-success"><a href="/genre">Yes Please</a></button> <button type="button" class="btn btn-warning"> <a href="google.com">No Thanks</a></button>
    </div>  
</div>
