<div style="text-align:center; margin:20%">
    <h1 class="text-shadow">Do You Need More Music?</h1>
    <div class="home-btn">
        <button type="button"class="btn btn-success"><a href="/genre">Yes Please</a></button> <button type="button" class="btn btn-warning"> <a href="https://www.cnn.com/">No Thanks</a></button>
    </div>  
</div>
